<a href="https://colab.research.google.com/github/DavidCastro88/HumanResourcesReportBI/blob/main/HumanResourceProyect.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/DavidCastro88/HumanResourcesReportBI/main/Human%20Resources.csv',sep=',')
data

,id,first_name,last_name,birthdate,gender,race,department,jobtitle,location,hire_date,termdate,location_city,location_state
0,00-0037846,Kimmy,Walczynski,06-04-91,Male,Hispanic or Latino,Engineering,Programmer Analyst I,Headquarters,1/20/2002,NaN,Cleveland,Ohio
1,00-0041533,Ignatius,Springett,6/29/1984,Male,White,Business Development,Business Analyst,Headquarters,04-08-19,NaN,Cleveland,Ohio
2,00-0045747,Corbie,Bittlestone,7/29/1989,Male,Black or African American,Sales,Solutions Engineer Manager,Headquarters,10-12-10,NaN,Cleveland,Ohio
3,00-0055274,Baxy,Matton,9/14/1982,Female,White,Services,Service Tech,Headquarters,04-10-05,NaN,Cleveland,Ohio
4,00-0076100,Terrell,Suff,04-11-94,Female,Two or More Races,Product Management,Business Analyst,Remote,9/29/2010,2029-10-29 06:09:38 UTC,Flint,Michigan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22209,99-9797418,Dorella,Garvan,07-08-98,Female,Hispanic or Latino,Research and Development,Research Assistant I,Headquarters,02-08-12,NaN,Cleveland,Ohio
22210,99-9869877,Dasie,Thorsby,4/19/2001,Female,Two or More Races,Services,Service Manager,Headquarters,10-06-17,NaN,Cleveland,Ohio
22211,99-9919822,Nerty,Wilding,02-09-70,Female,Two or More Races,Training,Junior Trainer,Headquarters,02-08-01,NaN,Cleveland,Ohio
22212,99-9960380,Mabelle,Dawks,09-02-85,Male,Two or More Races,Accounting,Staff Accountant I,Headquarters,04-03-05,2012-12-10 14:29:59 UTC,Cleveland,Ohio
22213,99-9963543,Carroll,Chattaway,07-10-99,Female,White,Engineering,Software Engineer III,Remote,3/27/2018,NaN,Fort Wayne,Indiana

In [7]:
from datetime import datetime,timedelta
from dateutil import parser

def transform_date(date):
    try:
        fecha_objeto = parser.parse(date)
        nueva_cadena_fecha = fecha_objeto.strftime('%Y-%m-%d')
    except ValueError:
        fecha_objeto = datetime.strptime(date, '%d-%m-%y')
        nueva_cadena_fecha = fecha_objeto.strftime('%Y-%m-%d')
    return nueva_cadena_fecha

In [8]:
data['birthdate']=data['birthdate'].apply(transform_date)

In [9]:
data

,id,first_name,last_name,birthdate,gender,race,department,jobtitle,location,hire_date,termdate,location_city,location_state
0,00-0037846,Kimmy,Walczynski,1991-06-04,Male,Hispanic or Latino,Engineering,Programmer Analyst I,Headquarters,1/20/2002,NaN,Cleveland,Ohio
1,00-0041533,Ignatius,Springett,1984-06-29,Male,White,Business Development,Business Analyst,Headquarters,04-08-19,NaN,Cleveland,Ohio
2,00-0045747,Corbie,Bittlestone,1989-07-29,Male,Black or African American,Sales,Solutions Engineer Manager,Headquarters,10-12-10,NaN,Cleveland,Ohio
3,00-0055274,Baxy,Matton,1982-09-14,Female,White,Services,Service Tech,Headquarters,04-10-05,NaN,Cleveland,Ohio
4,00-0076100,Terrell,Suff,1994-04-11,Female,Two or More Races,Product Management,Business Analyst,Remote,9/29/2010,2029-10-29 06:09:38 UTC,Flint,Michigan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22209,99-9797418,Dorella,Garvan,1998-07-08,Female,Hispanic or Latino,Research and Development,Research Assistant I,Headquarters,02-08-12,NaN,Cleveland,Ohio
22210,99-9869877,Dasie,Thorsby,2001-04-19,Female,Two or More Races,Services,Service Manager,Headquarters,10-06-17,NaN,Cleveland,Ohio
22211,99-9919822,Nerty,Wilding,2070-02-09,Female,Two or More Races,Training,Junior Trainer,Headquarters,02-08-01,NaN,Cleveland,Ohio
22212,99-9960380,Mabelle,Dawks,1985-09-02,Male,Two or More Races,Accounting,Staff Accountant I,Headquarters,04-03-05,2012-12-10 14:29:59 UTC,Cleveland,Ohio
22213,99-9963543,Carroll,Chattaway,1999-07-10,Female,White,Engineering,Software Engineer III,Remote,3/27/2018,NaN,Fort Wayne,Indiana

In [11]:
data['birthdate'] = pd.to_datetime(data['birthdate'])

In [13]:
indices_mayores = data.index[data['birthdate'] > datetime.now()]
data.loc[indices_mayores, 'birthdate'] -= pd.DateOffset(years=100)

In [15]:
data['Age']= (datetime.now() - data['birthdate']).astype('<m8[Y]')

In [16]:
data[data['Age']<18]

Empty DataFrame
Columns: [id, first_name, last_name, birthdate, gender, race, department, jobtitle, location, hire_date, termdate, location_city, location_state, Age]
Index: []

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22214 entries, 0 to 22213
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              22214 non-null  object
 1   first_name      22214 non-null  object
 2   last_name       22214 non-null  object
 3   birthdate       22214 non-null  object
 4   gender          22214 non-null  object
 5   race            22214 non-null  object
 6   department      22214 non-null  object
 7   jobtitle        22214 non-null  object
 8   location        22214 non-null  object
 9   hire_date       22214 non-null  object
 10  termdate        3929 non-null   object
 11  location_city   22214 non-null  object
 12  location_state  22214 non-null  object
dtypes: object(13)
memory usage: 2.2+ MB